name: Pull Docker images

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  cron-pull:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install dependencies
        working-directory: scripts
        run: |
          python -m pip install -U pip
          pip install -r requirements.txt

      - name: Pull images
        working-directory: scripts
        run: |
          python docker_pull.py
